.array-container {
    position: absolute;
    overflow-x: scroll;
    width: 100%;
    height: 100%;
    
    margin: 5% auto ;
    justify-content: center;
  }
  
  .array-bar {
    
    width: 4px;
    display: inline-block;
    margin: 0 2px;
    transform-origin: bottom;
    /*transition-duration: 100ms;
    transition-property: height;
    transition-timing-function: ease-in;*/
  }